{% extends 'pat_dummy2.html' %}
{% block title %}
<title>login</title>
{% endblock %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.form-outline {
			border: 1px solid #f2f3f4; /* Add a border */
			border-radius: 0.25rem; /* Rounded corners */
			padding: 0.375rem 0.75rem; /* Padding inside the element */
			width: 950%; /* Full width */
			margin: 0; /* Margin to separate elements */
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
		}
		body{
			height: 100%;
		}
		
	
	</style>
</head>

<body style="background: aliceblue;" >
	

	<div >
		<form method="GET" action="{% url 'Display' %}">
		<div class="input-group">
			<!-- <form method="GET" action="{% url 'Display' %}"></form> -->
			<div class="form-outline">
			<input type="text" id="text"  name="Patient_id" class="form-control" />
			<label class="form-label" for="form1">search</label>
			</div>
			<button type="submit" class="btn btn-primary">
			<i class="fas fa-search"></i>
			</button>
		</div>
		</form>
	</div>
	
	<div class="table">
		<table class="table table-hover table-bordered"  >
			<center><h1 style="color: black;">Appointment Details</h1></center>
			<thead class="table-success" style="color: black;">
				<tr style="color: rgb(239, 145, 13);">
					<th scope="col">Patient Id</th> 	 	 	
					<th scope="col">Patient Name</th>
					<th scope="col">Email</th>
					<th scope="col">Department</th>
					<th scope="col">Appointment Date</th>
					<th scope="col">Mobile</th>
					<th scope="col">Time</th>
					<th scope="col">Symptoms</th>
					<th scope="col">Description</th>
					<th scope="col">Show</th>

				</tr>
			</thead>
			<tbody class="table-light" style="color: rgb(22, 23, 23);">
				{% for i in data1 %} 
				<tr>
					<td>{{ i.Patient_id }}</td>
					<td>{{ i.PatientName }}</td>
					<td>{{ i.Emailaddress}}</td>
					<td>{{i.Department}}</td>
					<td>{{i.AppointmentDate}}</td>
					<td>{{i.Patientmobile}}</td>
					<td>{{i.Time}}</td>
					<td>{{i.Description}}</td>
					<td>{{i.Symptoms}}</td>
					<td><a href="{% url 'display' i.id %}"class="btn btn-primary">Details</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
	</div>
</body>
</html>

{% endblock %}