{% extends 'pat_dummy2.html' %}
{% block title %}
<title>registration</title>
{% endblock %}

{% block body_block %}
<div class="container">

    <div>
        <center>
            <form method="POST" action="{% url 'change_password1' %}">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" value=""  class="form-control">
                <label for="username">OTP</label>
                <input type="otpcode" name="otpcode" value=""  class="form-control">
                <label for="username">Password</label>
                <input type="password" name="password" value=""  class="form-control">
                
                <br>
                <input type="submit" value="reset_password" class="btn btn-primary btn-block mb-4">
                
            </form>
        </center>
    </div>
</div>  
<style>

    form{
        border-radius: 10px;
        border:2px solid red;
        padding: 10px;
        width: 500px;
        background: rgb(212, 202, 202);
    }

    input
    {
        background: transparent;
        color: #fff;
        border: none;
        border-bottom:3px solid #4fc3dc;
    }
    
   .container
   {
    position: relative;
    width:83%;
    margin-left: 50px;
  
    height:615px;
    overflow: hidden;
   }
   .bubbles{
    position: relative;
    display: flex;
   }
   .bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3d4;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,0 0 50px #4fc3dc,0 0 100px #4fc3dc;
    animation:animate 5s linear infinite ;
    animation-duration: calc(128s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,0 0 50px #ff2d75,0 0 100px #ff2d75;
}
   
</style>
{% endblock %}