

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js'></script>
</head>


    <body>
        <div id="conainer">
            <h1>Shubham developer </h1>
            <p> I am a full stack developer </p>                                       
            <button onclick="onGeneratePdf()">Generate pdf </button>
        </div>

        <ul>
            <li>flksjdkfj</li>

            <style></style>
        </ul>
    </body>


<script>

    let conainer = document.getElementById ( "conainer" )

    function onGeneratePdf( ) {

        console.log ( conainer )

    }

</script>


</body>
</html>





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    wdsgsdfsdfsdfdf
</head>
<body>

    aksdjfljsdlkfjsf

    <datagrid><fieldset><dfn>sdfdf</dfn></fieldset></datagrid>

    <script>
        lkdfkdjflkjdkfjdkfjldkj
        adfsdfsdf
    </script>
    
</body>
</html>