{% extends 'staff_dummy3.html' %}
{% block title %}
<title>registration</title>
{% endblock %}

{% block body_block %}
<style>
  .bottom_container {
    background-image: url("https://www.hospitalmedicine.org/globalassets/clinical-topics/clinical-images/istock_000008064666large.jpg");
    height: 92vh;
    width: 100vw;
    background-size: cover;
    }
 
  .bottom_text_styles {
    width: 45vw;
    margin-left: 20px;
    font-family: sans-serif;
    margin-top: 30px;
    font-weight: bold;
    color: black;

  }
  .bottom_container h1{
    margin-left: 170px;
    font-weight: bold;
    color: black;
  

    
  }
</style>


<div class="bottom_container">
  <h1 >About Apollo</h1>
  <p class="bottom_text_styles">The Apollo Hospitals at Bannerghatta is a 250 bedded hospital, located in the heart of the capital. The hospital is equipped with state-of-the-art technology making it a powerhouse of healthcare in Bangalore and is committed to invest in the latest medical technology on par with the latest worldwide developments, to ensure that every one of our patients benefit from the latest knowledge.Apollo Speciality Hospital, Jayanagar is a 150 bedded super speciality center built around the group’s 30 years experience, unparalleled consultant expertise and state-of-the-art technology. With multiple Centers of Excellence, chief among them – Institutes of Orthopedics, Institutes of Neurosciences, Institutes of Spine, Institutes of Pulmonology, and Critical Care, We are perhaps the most advanced medical center in south India.

    We are a fully equipped centre with a modern Emergency Room, state – of -the – art operating theatres, and ICUs with round the clock monitoring. We offer Speciality Clinic services in Pain Management, Bone Health, Uro-Nephro care, General Surgery and General Medicine. Our Emergency Rooms specialise in handling Cardiac emergencies, Stroke, Road accidents & trauma.</p>

</div>
{% endblock %}