{% extends 'staff_dummy3.html' %}
{% block title %}
<title>login</title>
{% endblock %}


{% block body_block %}
<body class="contain" style="background: aliceblue;">
	
<form method="GET" action="{% url 'staff_display' %}">
	<div class="input-group">
		<!-- <form method="GET" action="{% url 'Display' %}"></form> -->
		<div class="form-outline">
		  <input type="text" id="text"  name="Patient_id" class="form-control" />
		  <label class="form-label" for="form1">Search</label>
		</div>
		<button type="submit" class="btn btn-primary">
		  <i class="fas fa-search"></i>
		</button>
	</div>
</form>
<div  class="table_style">
	<table class="table table-hover table-bordered" >
		<center><h1 style="color: black;">Patient Appointment</h1></center>
		<thead class="table-success" style="color: black;">
			<tr style="color: rgb(236, 161, 12);">
				<th scope="col">Patient id</th>
				<th scope="col">Email</th>
				<th scope="col">Date</th>
				<th scope="col">Time</th>
				<th scope="col">Show</th>

			</tr>
		</thead>
		<tbody class="table-light" style="color: rgb(22, 23, 23);">
			{% for i in data1 %}
			<tr>
				<td>{{i.Patient_id}}</td>
				<td>{{i.Emailaddress}}</td>
				<td>{{i.AppointmentDate}}</td>
				<td>{{i.Time}}</td>
				<td><a href="{% url 'display2' i.id %}"class="btn btn-primary">Details</a></td>



			</tr>
			{% endfor %}
		</tbody>
	</table>
	<</div>
	<style>
		.table_style{
			height: 40px;
		}
	</style>
</div>

	
</body>
{% endblock %}